body{
	background-color: #66cc91;
}

.box{
	background-color: white;
	height: 100%;
	width: 100%
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.output-curr{
    height: 15em;
}

.add-curr{
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.body-content {
    width: 90%;
    height: 90%;
    margin-top: -20px;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.currency{
    position: relative;
    float: left;
    background: #fff;
    border: solid;
    border-width: 1px;
    border-color: gray;
    height: 200px;
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.base-currency {
    background: #fff;    
    border-color: gray;
    position: relative;
}

.compare-currency{
    background: #fff;
    border-color: gray;
    position: relative;
} 

.add-currency{
    position: relative;
    background: #fff;
    border-color: gray;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.currency-header{
    height: 35px;
}

.currency-body{
    height: 120px;
}

.currency-footer{
    height: 35px;
}

input[type="text"]{
    width: 100%;
    margin-top: 5px;
}

.world-curr{
    width: 100%;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}